body {
  background-color: #2c0ba1;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.image{
  height: 150px;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-container {
  background: rgb(255, 255, 255);
  padding: 150px 40px;
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  width: 450px;
  text-align: center;
}

.login-container h2 {
  font-size: 50px;
  color: #1e50d1;
  margin-bottom: 100px;
}

.login-container button {
  display: block;
  width: 100%;
  padding: 20px;
  margin: 30px 0;
  background-color: #2a059c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #1f0476;
}
